<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24567779503-b40gml7gffvegif20p8idivgu683m1pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24567779503-b40gml7gffvegif20p8idivgu683m1pf</string>
	<key>API_KEY</key>
	<string>AIzaSyBbXpC3oFZoiO7J0fRlRb7f10ti8SyuhXg</string>
	<key>GCM_SENDER_ID</key>
	<string>24567779503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ayur360App</string>
	<key>PROJECT_ID</key>
	<string>ayur360-fd218</string>
	<key>STORAGE_BUCKET</key>
	<string>ayur360-fd218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24567779503:ios:1e9908ad3b79cc6076c45a</string>
</dict>
</plist>